body {
    /* margin: 0px; Apply to four sides (left, top, right, bottom) */
    margin: 0px; /* Delete the default borders of the body */
    font-family: 'Merriweather', serif; /* Getting of the CSS rules of the google fonts*/
    color: #40514E; /* Font color of the body */
    text-align: center;
}

h1 {
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive; /* Getting of the CSS rules of the google fonts*/
    font-size: 5.625rem; /*90px, 1em is equals to 16px */
    color: #66BFBF;
} 

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5rem; /* 40px, 1em is equals to 16px */
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

#cloud-image-1 { /* Image cloud 1 into .top-container */
    position: absolute; /* aboslute position of his pattern .top-container */
    right: 200px; /* 300px right margin respect of his pattern */
    top: 100px; /* 100px top margin respect of his pattern  */
}

#cloud-image-2 { 
    position: absolute; /* Position abosolute to move it respect his pattern (top-container)*/
    left: 150px;
    top: 400px;
}

#profile-photo {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #986D8E;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #E4F6F6; 
}

.middle-container {
    padding-top: 100px;
}

p {
    /* To every pharagraphs */
    line-height: 2; /* The double of the spacing between each row or line text*/
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px 0;
    margin-top: 100px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

a {
    color: #EAF6F6; /* Color for the anchors */
    text-decoration: none; /* To eliminate the default style of anchors*/
    font-family:'Montserrat', sans-serif;
    margin: 10px 20px;
}

a:hover {
    color: #11999E;
}

.skill-row, .academic-row, .publications-row{
    width: 95%;
    margin: 100px auto 100px auto; /* to center the div content */
    text-align: left;
}

.publications-image {
    width: 20%;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.academic-image {
    background-color: white;
    border-radius: 50%;
    width: 25%;
}

.skill-image-left {
    background-color: #986D8E;
    border-radius: 50%; /* border radius of the 50% */
    width: 25%; /* Width of the 25% */
    float: left; /* To float the image left to the text*/
    margin-right: 20px; /* */
}

.skill-image-rigth {
    background-color: #986D8E;
    border-radius: 50%; /* border radius of the 50% */
    width: 25%; /* Width of the 25% */
    float: right; /* To float the image left to the text*/
    margin-left: 20px; /* */
}

hr {
    border-style: dotted none none none;
    border-color: #EAF6F6;
    border-width: 10px;
    width: 8%;
    height: 0%;
    margin:100px auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px auto;
}

.intro {
    
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat Alternates';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.nav {
    background-color: rgba(165, 105, 189, 0.2);
    position: fixed;
    border: 0px;
    width: 100%;
    text-align: end;
}

.nav-item {
    display: inline;
    margin: 5px;
}

.nav-link {
    color: #11999E;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
}

.nav-link:hover {
    color: #986D8E
}
